
@font-face {
	font-family: 'Gilroy-bold';
	src: url(' ../fonts/gilroy-bold.eot');
	src: local('☺'), url('../fonts/gilroy-bold.woff') format('woff'), url('../fonts/gilroy-bold.ttf') format('truetype'), url('../fonts/gilroy-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-medium';
	src: url('../fonts/gilroy-medium.eot');
	src: local('☺'), url('../fonts/gilroy-medium.woff') format('woff'), url('../fonts/gilroy-medium.ttf') format('truetype'), url('../fonts/gilroy-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}


body{

}

ul, li{list-style: none;}

header{
	height: 768px;
	background: #ffffff;
	width: 100%;
	display: flex;
    align-content: center;
    justify-content: center;
    overflow: auto;
    
}

.me{

}

nav{
	display: flex;
	justify-content: space-between;
}

.wrapper {
	height: 4759px;
	width: 1445px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
}

.wrapper2{
	max-width: 945px;
	width: 945px;
}

.about_me {
	height: 506px;
	background: #f6f6f6;
	width: 100%;
}

.skills {
	height: 610px;
	background: #FFFFFF;
	width: 100%;
}

.portfolio {
	height: 2253px;
	background: #f6f6f6;
	width: 100%;
}

footer{
	height: 662px;
	background: #FFFFFF;
	text-align: center;
	width: 100%;
}

.line {
	width: 942px;
	height: 1.5px;
	position: absolute;
	top: 88px;
	left: 251px;
	background: #828282;
}
.nav__menu{
	font-family: 'Gilroy-bold';
	line-height: 22px;
	font-size: 18px;
	color: #828282;
}

#change{
	color: #070707;
	justify-content: space-between;
}

.description {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 50px;
	left: 0;
}
.Denis {
	font-family: 'Gilroy-bold';
	line-height: 59px;
	font-size: 47px;
	color: #070707;
}
.designer {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	transform: translate(0,113px);

}
.RUENG {
	transform: rotate(-90deg) translate(-19px,120px);
	font-family: 'Gilroy-bold';

}	

#image1{
	transform: translate(0,40px);
}

.RU{
	color: #828282;
}

.about {
	font-family: 'Gilroy-bold';
	line-height: 42px;
	font-size: 34px;
	color: #070707;
	position: relative;
	top: 70px;
	left: 646px;
}
.text {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	height: 218px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	top: 40px;
	left: 250px;
	text-align: center;
}

.skills_text {
	font-family: 'Gilroy-bold';
	line-height: 42px;
	font-size: 34px;
	color: #070707;
	position: relative;
	top: 70px;
	left: 660px;
}
.skills_description {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	position: relative;
	left: 590px;
	top: 100px;
}
.skills_programms {
	display: flex;
	justify-content: space-around;
	position: relative;
	left: 215px;
	top: 170px;
	text-align: center;
	font-family: 'Gilroy-bold';
	line-height: 17px;
	font-size: 14px;
	color: #828282;
}
.skills_programms_description {
	display: flex;
	justify-content: space-around;
	position: relative;
	left: 220px;
	top: 170px;
	text-align: center;
	font-family: 'Gilroy-bold';
	line-height: 17px;
	font-size: 14px;
	color: #828282;
}


.skills_stars {
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 180px;
	left: 215px;
	width: 980px;

}

.skills_star {
	display: flex;
	justify-content: space-around;

}

.star{
	background: url('../img/Star.png') no-repeat;
	width: 23px;
	height: 21px;
	margin: 5px;
}

.star2{
	background: url('../img/Star2.png') no-repeat;
	width: 23px;
	height: 21px;
	margin: 5px;
}

.portfolio_text {
	font-family: 'Gilroy-bold';
	line-height: 42px;
	font-size: 34px;
	color: #070707;
	position: relative;
	top: 70px;
	left: 650px;
}
.portfolio_woman {	
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	text-decoration: underline;
	text-align: center;
	margin-top: 110px;
	margin-left: 260px;
}
.portfolio_reebok {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	text-decoration: underline;
	text-align: center;
	margin-top: 110px;
	margin-left: 260px;
}
.portfolio_braun {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	text-decoration: underline;
	text-align: center;
	margin-top: 110px;
	margin-left: 260px;
}

.portfolio_img_text{
	position: relative;
	top: 20px;
	left: 130px;
}

.footer_title {
	font-family: 'Gilroy-bold';
	line-height: 42px;
	font-size: 34px;
	color: #070707;
	position: relative;
	top: 70px;
	left: 260px;
}
.footer_text {
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	color: #070707;
	position: relative;
	left: 260px;
	top: 60px;
}
.footer_button {
	position: relative;
	left: 642px;
	top: 90px;
	width: 180px;
	height: 42px;
	background: #070707;
	border-radius: 20px;
	color: #FFFFFF;
	font-family: 'Gilroy-medium';
	line-height: 22px;
	font-size: 18px;
	text-align: center;
}

#button_text{
	position: absolute;
	bottom: -8px;
	left: 28px;
}
.footer_icons {
	width: 342px;
	display: flex;
	justify-content: space-between;
	margin-left: 552px;
	margin-top: 158px;
}
.footer_like {
	font-family: 'Gilroy-medium';
	line-height: 17px;
	font-size: 14px;
	color: #828282;
	margin-top: 46px;
	margin-left: 500px;
}
